.yellow {
    background: yellow;
}

.dodgerBlue {
    background: dodgerblue;
}

.darkolivegreen {
    background: darkolivegreen;
}


.red {
    background: red;
}

.white {
    background: white;
}